@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


/* nav area */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    padding: 8px;
    color: #5f6368;
}

.logo-area{
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    padding: 10px;
}