@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


/* nav area */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    padding: 8px;
    margin: 0 10px;
    color: #5f6368;
}

.logo-area{
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    padding: 10px;
}


.search-area{
    background: #f1f3f4;
    width: 692px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.search-area input{
    background: #f1f3f4;
    border: none;
    margin-left: 10px;
    width: 100%;
    height: 95%;
    font-size: 1rem;

}
.search-area span{
    margin-left: 10px;
    
}
.settings-area{
    display: flex;
}

input:focus{
    outline: none;
}

.tooltip-text{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 0.8rem;
    background-color: #323232;
    color: white;
    opacity: 0.8;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    visibility: hidden; 
    z-index: 1; 
}

.tooltip{
    position: relative;
    display: inline;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.hover:hover{
    background: #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}
/* sidebar */

.sidebar{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 3px;
    color: #5f6368;
    width: 60px;
    overflow-x: hidden;

}

.active{
    background-color: #fef0c3;
    border-radius: 50%;
    color: black;
    cursor: pointer;

}

.active:hover{
    background-color: #fef0c3;

}

.sidebar .sidebar-item{
    padding: 3px;
    display: flex;
    align-items: center;

}

.sidebar-item .sidebar-text {
    color: black;
    font-size: 0.9rem;
    margin-left: 20px;
    width: 250px;
}

.sidebar-items:nth-child(1){
    margin-top: 5px;
}


/* FORM */

.form-container{
    background: #fff;
    max-width: 598px;
    height: 46px;
    margin: 40px auto;
    border: 1px solid #e0e1e0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border-radius: 8px;
}

.form-container form{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: #5f6368;
}

.active-form{
    height: 24vh;
    width: 100%;
}

.note-text{
    border: none;
    font-size: 1rem;
    height: 100%;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
}

.note-title{
    border: none;
    font-size: 1rem;
    height: 100%;
}

.form-actions{
    display: flex;
    
}

.active-form form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%; 
}

.active-form form .form-actions .icons {
    display: flex;
    
}

.active-form form .form-actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.small-icon{
    cursor: pointer;
    color: black;
    font-size: 1rem;
}

.notes{
    display: flex;
    justify-content: center;
}

.note{
    background-color: white;
    margin: 10px;
    width: 240px;
    border: 1px solid #e0e1e0;
    border-radius: 8px;
    position: relative;
}

.note .title{
    width: 100%;
    margin: 15px 0 0 15px; 
}

.note .title{
    width: 100%;
    margin: 15px 0 0 15px;
}

.note .text{
    width: 100%;
    margin: 15px 0 0 15px;
}

.note .text{
    width: 100%;
    margin: 20px 0 0 15px;
}

.note .note-footer{
    margin-top: 15px;
    display: flex;
    padding: 0;
    justify-content: center;
}

.note-footer .material-symbols-outlined {
    color: #5f6368;
}

.note .check-circle{
    position: absolute;
    top: -22px;
    left: -22px;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.modal .modal-content{
    width: 589px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}